/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: 450px;
  object-fit: cover; 
  object-position: bottom;
  filter: brightness(82%); 
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text h1, .hero-text p {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
}

.about-section {
  padding: 40px 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}